@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mooli&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui"{
    themes: light --default;
}

body{
    @apply bg-gradient-to-br from-pink-200 via-purple-300 to-pink-200
}

a.active {
    @apply text-pink-500 underline
}

.gradient {
  background: linear-gradient(90deg, #ff00c8, #00eaff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.my-font {
    font-family: "Mooli", sans-serif;
}

.my-card {
    transition: margin 0.4s ease, box-shadow 0.4s ease;
}

.my-card:hover{
    margin-top: -5px;
  box-shadow: 0 15px 15px rgba(0, 0, 5, 0.2);
}

.animated-border {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  border: 2px solid transparent;
}

.animated-border::before {
  content: "";
  position: absolute;
  inset: -2px;
  background: linear-gradient(
    90deg,
    #ff00c8,
    #00dbff,
    #00ff62,
    #ffdd00,
    #ff00c8
  );
  background-size: 400% 400%;
  animation: borderMove 15s linear infinite;
  z-index: 0;
  border-radius: 18px; /* slightly larger than card */
}

@keyframes borderMove {
  0% { background-position: 0% 50%; }
  100% { background-position: 400% 50%; }
}


/* worr card */
.animated-card {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  border: 2px solid transparent;
  margin: 0 auto;
}

.animated-card::before {
  content: "";
  position: absolute;
  inset: -2px;
  background: linear-gradient(
    90deg,
    #ff00c8,
    #00dbff,
    #00ff62,
    #ffdd00,
    #ff00c8,
    #00FFFF,
    #FF8C00,
    #D3D3D3
  );
  background-size: 400% 400%;
  animation: borderMove 25s linear infinite;
  z-index: 0;
  border-radius: 18px; /* Slightly bigger than card */
}

@keyframes borderMove {
  0% { background-position: 0% 50%; }
  100% { background-position: 400% 50%; }
}

/* border card */
.border-neon {
  position: relative;
}

.border-neon:hover {
  box-shadow: 0 0 12px purple, 0 0 20px purple;
  transition: 0.4s;
}

.border-neon {
  border: 2px solid transparent;
  animation: neon 2s linear infinite;
  border-radius: 12px;
}

@keyframes neon {
  0%   { border-color: #ff00c8; }
  50%  { border-color: #00eaff; }
  100% { border-color: #ff00c8; }
}


/* form */
.fade-slide-up {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeSlideUp .9s ease-out forwards;
}

@keyframes fadeSlideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
};

/* Down */
.signup-animate {
  animation: slideFade 0.8s ease-out;
}

@keyframes slideFade {
  0% {
    opacity: 0;
    transform: translateY(-40px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/*Animition */
.glow-border {
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
  }
  100% {
    box-shadow: 0 0 20px rgba(255, 0, 200, 0.7);
    border-color: rgba(255, 0, 200, 0.8);
  }
}
